{{log "Heroic Crafting | Begin Project: Summary" this}}
<div class="begin-project-summary">
    <hr style="margin:0.5rem 0;">
    <div class="begin-project-craft-summary">
        <h4>Crafting Summary</h4>
        {{#if includeIsFormula}}
            <div class="form-group">
                <label for="summary-is-formula">Is Formula?</label>
                <div class="form-fields">
                    <input data-action="update-input-manual"
                           class="summary-is-formula"
                           type="checkbox"
                           name="isFormula"
                           id="{{id}}-summary-is-formula"
                           {{#if details.formData.isFormula}}checked{{/if}}>
                </div>
            </div>
        {{/if}}
        <div class="form-group">
            <label for="summary-dc">DC</label>
            <div class="form-fields">
                <input data-action="update-input-manual"
                       class="summary-dc"
                       type="number"
                       min="1"
                       value="{{details.formData.dc}}"
                       step="1"
                       name="dc"
                       id="{{id}}-summary-dc"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label for="summary-batch-size">Batch Size</label>
            <div class="form-fields batch-fields">
                <button type="button"
                        data-action="decrease-summary-batch-size">-</button>
                <input data-action="update-input-manual"
                       class="summary-batch-size"
                       type="number"
                       min="1"
                       value="{{details.formData.batchSize}}"
                       {{#if details.batchSizeMax}}max="{{details.batchSizeMax}}"
                       {{/if}}
                       step="1"
                       name="batchSize"
                       id="{{id}}-summary-batch-size"
                       required>
                <button type="button"
                        data-action="increase-summary-batch-size">+</button>
            </div>
        </div>
    </div>
    <hr style="margin:0.5rem 0;">
    <div class="begin-project-start-summary">
        <h4>Starting Value</h4>
        <div class="total-starting">
            <span class="starting-value">{{details.totalStarting.current}}</span>
            <span class="seperator">/</span>
            <span class="starting-max">{{details.totalStarting.max}}</span>
        </div>
        <div class="material-list">
            <div class="basic-material currency">
                <hr>
                <div class="item-summary">
                    <img src="systems/pf2e/icons/equipment/treasure/currency/gold-pieces.webp"
                         class="item-icon">
                    <span class="item-name">Currency</span>
                </div>
                <div class="money-form"
                     data-item="currency">
                    <div class="form-group">
                        <label for="beginProject-summary-currency-pp">Platinum</label>
                        <div class="form-fields">
                            <input data-action="update-input-manual"
                                   type="number"
                                   min="0"
                                   value="{{details.formData.currency.pp}}"
                                   step="1"
                                   name="currency.pp"
                                   id="{{id}}-summary-currency-pp">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="beginProject-summary-currency-gp">Gold</label>
                        <div class="form-fields">
                            <input data-action="update-input-manual"
                                   type="number"
                                   min="0"
                                   value="{{details.formData.currency.gp}}"
                                   step="1"
                                   name="currency.gp"
                                   id="{{id}}-summary-currency-gp">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="beginProject-summary-currency-sp">Silver</label>
                        <div class="form-fields">
                            <input data-action="update-input-manual"
                                   type="number"
                                   min="0"
                                   value="{{details.formData.currency.sp}}"
                                   step="1"
                                   name="currency.sp"
                                   id="{{id}}-summary-currency-sp">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="beginProject-summary-currency-cp">Copper</label>
                        <div class="form-fields">
                            <input data-action="update-input-manual"
                                   type="number"
                                   min="0"
                                   value="{{details.formData.currency.cp}}"
                                   step="1"
                                   name="currency.cp"
                                   id="{{id}}-summary-currency-cp">
                        </div>
                    </div>
                </div>
            </div>
            {{#if hasMaterialTrove}}
                <div class="basic-material trove">
                    <hr>
                    <div class="item-summary">
                        <img src="icons/tools/fasteners/nails-steel-brown.webp"
                             class="item-icon">
                        <span class="item-name">Generic Crafting Materials</span>
                    </div>
                    <div class="money-form"
                         data-item="trove">
                        <div class="form-group">
                            <label for="beginProject-summary-trove-pp">Platinum</label>
                            <div class="form-fields">
                                <input data-action="update-input-manual"
                                       type="number"
                                       min="0"
                                       value="{{details.formData.trove.pp}}"
                                       step="1"
                                       name="trove.pp"
                                       id="{{id}}-summary-trove-pp">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="beginProject-summary-trove-gp">Gold</label>
                            <div class="form-fields">
                                <input data-action="update-input-manual"
                                       type="number"
                                       min="0"
                                       value="{{details.formData.trove.gp}}"
                                       step="1"
                                       name="trove.gp"
                                       id="{{id}}-summary-trove-gp">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="beginProject-summary-trove-sp">Silver</label>
                            <div class="form-fields">
                                <input data-action="update-input-manual"
                                       type="number"
                                       min="0"
                                       value="{{details.formData.trove.sp}}"
                                       step="1"
                                       name="trove.sp"
                                       id="{{id}}-summary-trove-sp">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="beginProject-summary-trove-cp">Copper</label>
                            <div class="form-fields">
                                <input data-action="update-input-manual"
                                       type="number"
                                       min="0"
                                       value="{{details.formData.trove.cp}}"
                                       step="1"
                                       name="trove.cp"
                                       id="{{id}}-summary-trove-cp">
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>