<div class="project-summary">
     <h4>Project Progression</h4>
     <div class="progress-bar">
          <div class="overlap-bars">
               <div class="internal-bar base-bar start"
                    style="width:{{progressBarWidths.current}};"></div>
          </div>
          <div class="overlap-bars result-bars">
               <div class="internal-bar invisible-bar"
                    style="width:{{progressBarWidths.invisible}};"></div>
               <div class="internal-bar criticalFailure-bar start"
                    style="width:{{progressBarWidths.criticalFailure}};"></div>
               <div class="internal-bar failure-bar"
                    style="width:{{progressBarWidths.failure}};"></div>
               <div class="internal-bar success-bar"
                    style="width:{{progressBarWidths.success}};"></div>
               <div class="internal-bar criticalSuccess-bar end"
                    style="width:{{progressBarWidths.criticalSuccess}};"></div>
          </div>
     </div>
     <div class="project-progress-line">
          <span class="project-cur-value">{{project.value}}</span>
          <span class="seperator">/</span>
          <span>{{project.max}}</span>
     </div>
</div>