<section class="tab {{tab.cssClass}}"
         data-group="{{tab.group}}"
         data-tab="{{tab.id}}">
    {{> modules/pf2e-heroic-crafting/templates/materialTrove/materialSummary.hbs }}
    <hr>
    {{> modules/pf2e-heroic-crafting/templates/materialTrove/moneyForm.hbs includeSign=true }}
    <hr>
    <div class="standard-form">
        <div class="form-group">
            <label for="{{partId}}-{{tab.id}}-updateActorCoins">Use Coins</label>
            <div class="form-fields">
                <input data-action="update-input-manual"
                       type="checkbox"
                       name="{{tab.id}}.updateActorCoins"
                       id="{{partId}}-{{tab.id}}-updateActorCoins"
                       {{#if updateActorCoins}}checked{{/if}}>
            </div>
            <p class="hint">If coins are added to the material trove, then the same value will be deducted from the
                actor&#39;s inventory. Similarly, if coins are deducted from the material trove, then the same value
                will be added to the actor&#39;s inventory.</p>
        </div>
    </div>
</section>