<div>
    <div class="chracter-info">
        <img src="{{actor.img}}"
             data-action="open-actor-sheet">
        <h3>{{actor.name}}</h3>
        <span>Level: {{actor.level}}</span>
    </div>
    <div class="money-info">
        <span class="total-coinage-label">Total Coinage:</span>
        <span class="total-coinage-value">{{money.coinage}}</span>
        <span class="crafting-materials-label">Crafting Materials:</span>
        <span class="crafting-materials-value">{{money.materials}}</span>
    </div>
</div>