<div>
    <div class="chracter-info">
        <img src="{{actor.img}}"
             data-action="open-actor-sheet">
        <h3>{{actor.name}}</h3>
        <span>Level: {{actor.level}}</span>
    </div>
    <div class="money-info">
        <span class="total-coinage-label">Total Coinage:</span>
        <span class="total-coinage-value">{{money.coinage}}</span>
        <a class="crafting-materials-edit"
           data-action="edit-material-trove"><i class="fa-solid fa-fw fa-edit"></i></a>
        <span class="crafting-materials-label">Crafting Materials:</span>
        <span class="crafting-materials-value">{{money.materials}}</span>
    </div>
</div>