<div class="pf2e chat-card heroic-crafting"
     data-craft-project-results
     data-craft-details="{{craftDetails}}"
     data-actor-uuid="{{actorUuid}}"
     data-project-id="{{project.id}}">
    {{> modules/pf2e-heroic-crafting/templates/chat/craftProject/card-content.hbs includeProgression=true}}
    <hr>
    <div class="card-buttons"
         data-visibility="owner">
        {{#with (lookup progress outcome) as |progressOutcome|}}
            {{#if (eq progressOutcome.copperValue 0)}}
                <button type="button"
                        data-outcome="{{../outcome}}">Add 0 gp to the Project
                    Value</button>
            {{else if progressOutcome.isNegative}}
                <button type="button"
                        data-outcome="{{../outcome}}">Deduct {{formatCoin progressOutcome true}} from the Project
                    Value</button>
            {{else }}
                <button type="button"
                        data-outcome="{{../outcome}}">Add {{formatCoin progressOutcome}} to the Project
                    Value</button>
            {{/if}}
        {{/with}}
    </div>
</div>