<div class="pf2e chat-card heroic-crafting"
     data-craft-project-results
     data-craft-details="{{craftDetails}}"
     data-actor-uuid="{{actorUuid}}"
     data-project-id="{{project.id}}">
    <div class="card-content">
        <div style="display: flex; align-items: center; margin-bottom: 3px;">
            <img src="{{item.img}}"
                 style="height:32px; width:32px; margin-right: 3px;">
            <span>{{{itemLink}}}</span>
        </div>
        <hr>
        <div class="project-progress">
            <h4><strong>Project Progression</strong></h4>
            <div class="progress-bar">
                <div class="internal-bar"
                     style="width:{{project.percent}};"><span>{{project.percent}}</span></div>
            </div>
            <div class="project-progress-line">
                <span class="project-cur-value">{{project.cur}}</span>
                <span class="seperator">/</span>
                <span>{{project.max}}</span>
            </div>
        </div>
        <hr>
        <div class="spent-materials-list">
            {{#each materials as | material |}}
                <div class="spent-material">
                    {{#with material.item as | item |}}
                        <img src="{{item.img}}" />
                        <span class="spent-material-item-name">{{#if (gt material.quantity 1)}}{{material.quantity}}x
                            {{/if}}{{item.name}}</span>
                    {{/with}}
                    <span class="spent-material-value">{{material.spent}}{{#if (gt material.quantity 1)}}
                            / item{{/if}}</span>
                </div>
            {{/each}}
        </div>
        <p>Total Cost: {{totalMaterialsSpent}}</p>
    </div>
    <hr>
    <div class="card-buttons"
         data-visibility="owner">
        {{#if (eq outcome "criticalFailure")}}
            <button type="button"
                    data-outcome="{{outcome}}">Deduct Cost from the Project Value</button>
        {{else if (eq outcome "failure")}}
            <button type="button"
                    data-outcome="{{outcome}}">Add half the Cost to the Project Value</button>
        {{else}}
            <button type="button"
                    data-outcome="{{outcome}}">Add double the Cost to the Project Value</button>
        {{/if}}
    </div>
</div>